* {

}
h1 {
	font: 4em sans-serif;


}
#catImage {
	font: 12em sans-serif;
	color: #FFF;
	width: 600px;
	height: 400px;
	padding: 30px 0 0 30px;
	margin: 10px 20px 0 10px;

}
#catImageFrame {
	float: left;
}
#catCaption {
	font: 2em sans-serif;
	text-align: center;

}
#btnAdmin {

}

#adminForm {
	clear:left;

}

#leftForm, #rightForm {
	float: left;
	margin-right:10px;
}